.Global-color {
  background: #fafafa;
  .logIn-loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    opacity: 0.3;
    z-index: 99999999;
  }
  .interval{
    height: (20/75)+rem;
    background: #fafafa;
  }
  .standRoll{
    display: flex;
    justify-content: space-between;
    padding: (35/75)+rem 0.8rem;
    align-items: center;
    border-bottom: 1px solid #EEEEEE;
    p{
      color: #323232;
      font-size: (28/75)+rem;
    }
    img{
      width: (25/75)+rem;
      height: (25/75)+rem;
      align-items: center;
    }
  }
}

